/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    min-height: 100vh; /* garantir que a altura da seção principal, ocupe toda a altura da tela */

    background-color: #171717;
    color: #fff;

    font-family: montserrat;
}

/* RESET */


.container-principal{
    width: 100%;

    display: flex; /* permitir que o conteúdo seja centralizado de forma inteligente*/
    justify-content: center; 
    align-items: center; 
}

/* TELA DE APRESENTAÇÃO */

.tela{
    display: none;
    min-height: 100vh;
    width: 100%;

}

.tela.ativa{
    display: flex;
}

.tela-apresentacao{
    min-height: 100vh;
    max-width: 1400px;

    align-items: center;
}

.apresentacao-conteudo{
    width: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.etiqueta-projeto{
    color: #E78930;

    font-size: 20px;
    font-weight: 700;
}

.titulo-principal{
    font-family: 'urban jungle';
    font-size: 140px;

    margin-bottom: 22px;
}

.descricao{
    text-align: center;

    margin-bottom: 8px;
}

.botao{
    background-color: #9e5817;
    color: #171717;

    padding: 10px 60px;
    border: none;

    font-family: 'doctor glitch';
    font-size: 20px;

    transition: 0.3s;
}

.botao:hover{
    background-color: #E78930;

    scale: 1.05;
}

/* TELA DE APRESENTAÇÃO */

/* TELA DE SELEÇÃO */

.tela-selecao{
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tela-selecao .cabecalho{
    width: 900px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 25px; 
}

.tela-selecao .cta{
    font-size: 22px;
    font-weight: 600;
}

.container-selecao{
    width: 980px;

    border-top: 4px solid #E78930;
    margin-top: 25px;
    padding-top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.carta-personagem{
    width: 250px;
    height: 308px;
    
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;

    filter: grayscale(100);
    transition: 0.3s;
}

.carta-personagem:hover{
    opacity: 1;
    filter: grayscale(0);
    scale: 1.03;
    outline: 4px solid #E78930;
    outline-offset: 4px;
}

.carta-personagem.selecionada{
    opacity: 1;
    filter: grayscale(0);
    scale: 1.03;
    outline: 4px solid #E78930;
    outline-offset: 4px;
}

.agente{
    background-image: url('../img/agent.png');
}

.caipira{
    background-image: url('../img/caipira.png');
}

.cyborgue{
    background-image: url('../img/cyborgue.png');
}

.mafioso{
    background-image: url('../img/mafia.png');
}

.punk{
    background-image: url('../img/punk.png');
}

.yakuza{
    background-image: url('../img/yakuza.png');
}

/* TELA DE SELEÇÃO */